/**
 * =============================================================================
 * This is the file where all your styling should go in.
 * Instead of modifying the styles found in the monogatari.css file or others,
 * you should overwrite those styles in this file.
 *
 * The CSS selectors shown are not an extensive list but they are the most
 * common you might want to change. To find what other elements are available,
 * you can take a look at the monogatari.css file or use your browser's dev
 * tools to inspect the elements.
 * =============================================================================
**/

/**
 * ===========================
 * General Styling
 * ===========================
**/
@font-face {
  font-family: 'Kurokane';
  src: url('../assets/fonts/FOT-KurokaneStd-EB.otf') format('opentype');
}
/* General Style */
body {
  background-image: url("../assets/ui/background2.webp");
}

/* Simple Button styles*/
button {
  	background-image: linear-gradient(to top, rgb(206, 187, 233), rgb(244, 233, 247));
	border-radius: 5px;
	color:rgb(49, 49, 49);
}

main-menu {
  display: flex !important;
  flex-direction: row ;
  justify-content: center;
  align-items: center;   
  gap: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Simple Button Style on Hover */
button:hover {
  	background-image: linear-gradient(to bottom, rgb(206, 187, 233), rgb(244, 233, 247));
}

/* General Styling for Menu Screens */
[data-screen] {
	color:rgb(248, 194, 93);
	font-family: 'Kurokane';
    max-width: 1024px;
    margin: 0 auto;
}

[data-screen="game"] {
    max-width: 1024px;
    margin: 0 auto;
}

/**
 * ===========================
 * Main Menu Styling
 * ===========================
**/

/* Main Menu Styling */
[data-screen="main"] {
}

/* Main Menu Buttons Styling */
[data-screen="main"] button {

}

/**
 * ===========================
 * Save and Load Menus Styling
 * ===========================
**/

/* Slots Style */


[data-component="save-slot"] figure {
}

/* Slot's Image Style */
[data-component="save-slot"] img {

}

/* Slots Title Style */
[data-component="save-slot"] figcaption {

}

/* Slots Delete Button Style */
[data-component="save-slot"] button {
	color:rgb(111, 15, 143);
}

/**
 * ===========================
 * Game Elements Styling
 * ===========================
**/

/* Choice Buttons style */
[data-component="choice-container"] button {

}

/* Choice Button Style on Hover */
[data-component="choice-container"] button:hover {

}

/* Text Box styling */
[data-component="text-box"] {
  	background-image: linear-gradient(to top, rgb(206, 187, 233), rgb(244, 233, 247));
	border-radius: 100px;
	color: rgb(61, 61, 61);
	border:5px solid rgb(227, 205, 254);
	overflow: visible;
	padding-top: 40px;
	padding-left: 30px; 
	font-family:'Trebuchet MS';
    max-width: 1024px;
    margin: 0 auto;
}

/* Character Name Style */
[data-ui="who"] {
	  font-family: 'Kurokane';
	  font-weight: bold;
	  background-image: url(../assets/ui/nametexture.png);
	  opacity:0.9;
	  border-radius: 50px;
  	  min-width: 250px;
  	  width: max-content;
	  text-align: center;
	  border:3px solid rgb(155, 140, 207);
	  margin-bottom: 10px;
	  position: absolute;
	  top: -45px;
	  left: 30px;
	  z-index: 10;
}

[data-ui="who"]:empty {
	display: none;
}


/* Style for Centered Text */
[data-component="centered-dialog"] {
	color:rgb(161, 35, 35);
	-webkit-text-stroke: 0.8px rgb(255, 201, 100);
    font-family: 'Kurokane', Helvetica, sans-serif;
	font-weight: bolder;
}

/* Character Images Styles */
[data-screen="game"] [data-character] {
	margin-bottom:200px;
}

/* Other Images Styles */
[data-screen="game"] [data-image] {

}

/**
 * ===========================
 * Quick Menu Styling
 * ===========================
**/

/* These styles are applied to the Mobile version of the Quick Menu */

/* Quick Menu Style */
[data-component="quick-menu"] {
	background: none;
}

/* Quick Menu Buttons Style */
[data-component="quick-menu"] span {
	background: none;
	border:none;
	color:rgb(161, 35, 35);
	-webkit-text-stroke: 0.5px rgb(255, 201, 100);
}

/* Quick Menu Buttons Style on Hover */
[data-component="quick-menu"] span:hover {

}

/* Quick Menu Buttons Icon Style */
[data-component="quick-menu"] > span > .fa {

}

/**
 * ===========================
 * Range Styling
 * ===========================
**/

/* Use the background property to set a color for these */
input[type=range]:focus::-webkit-slider-runnable-track {

}

input[type=range]::-webkit-slider-runnable-track {

}

input[type=range]:focus::-ms-fill-upper {

}

input[type=range]:focus::-ms-fill-lower {

}

input[type=range]::-moz-range-track {

}

input[type=range]::-ms-fill-lower {

}

input[type=range]::-ms-fill-upper {

}

/** Medium Screens, Phablets (601px) **/
@media screen and (min-width: 37.56255em) {
	/* Styles for the desktop version of the Quick Menu */

	/* Quick Menu Style */
	[data-component="quick-menu"] {

	}

	/* Quick Menu Buttons Style */
	[data-component="quick-menu"] span {

	}

	/* Quick Menu Buttons Style on Hover */
	[data-component="quick-menu"] span:hover {

	}
}

/** Medium Devices, Tablets (992px)**/
@media screen and (min-width: 62em) {

}

/** HD Screen, Large Devices, Wide Screens, Desktop (1200px) **/
@media screen and (min-width: 75em) {

}

/** Full HD Screen, Large Devices, Wide Screens, Large Desktops (1920px) **/
@media screen and (min-width: 120em) {

}

/** Retina Screen , Large Devices, Wide Screens(2560px) **/
@media screen and (min-width: 160em) {

}

/** 4k Screens, Large Devices, Wide Screens (3840px) **/
@media screen and (min-width: 240em) {

}

/** 5k Screens, Large Devices, Wide Screens (5000px) **/
@media screen and (min-width: 312.5em) {

}

/** 8k Screens, Large Devices, Wide Screens (8000px) **/
@media screen and (min-width: 500em) {

}
